<h1><%=@song.name%></h1>
<% @song.genres each do |genres| %>
<div><%= link_to @genre.name genre_path(@genre) %></div>
<%end%>
<% @song.artists each do |artist| %>
<div><%= link_to @artist.name artist_path(@genre) %></div>
<%end%>
